html, body, #root, .App {
  height:auto;
  background: #007bff!important;
}

main {
  background: white;
  width: 98%;
  margin: 2em auto;
}

input, textarea {
  width:80%;
}

section {
  margin: 1em;
  padding: 1em;
}

.display {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 3px solid black;
  width: auto;
  padding: 4rem;
  margin: 2rem;
}

.card-title {
  color: #007bff;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
}

.card-body {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.imputy:hover {
  box-shadow: #007bff;
  border-color: #007bff;
  transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out
}

.addinSmurfs {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: left;
  padding: 4px;
  border: 3px solid black;
  width: 40%;
  margin:auto;
  /* background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 80%; */
  
}

.subinSmurf {
  color:azure;
  margin-left: 25%;
  background-color: #007bff;
  width: 50%;
}

.subinSmurf:hover {
  box-shadow: inset 0 0 0 2px #252423;
  color: #007bff;
  background-color: azure;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
  color 0.3s ease-in-out;
}

.byebye {
  color:azure;
  background-color: #007bff;
}

.byebye:hover {
  box-shadow: inset 0 0 0 2px #252423;
  color: azure;
  background-color:red;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
  color 0.3s ease-in-out;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}